body{
    text-align: center;
    color: gold;
    background-color: blue;
    background-image: url("old/Universidad Autónoma de Nuevo León Archivos/Background01.gif");
    background-repeat: repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color: gold;
}

.theFirst{
    color: gold;
    font-family: 'Times New Roman', Times, serif;
}

.capturas{
    border: solid black 2px;
}

.links{
    position: relative;
    display: inline-block;
}

.links img{
    display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: rgba(0,0,0,0.6);
  color: gold;

  font-family: 'Times New Roman', Times, serif;
  font-size: 400%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.links:hover .overlay{
    opacity: 1;
}
