.uanlgrande {  font-size: 80px}
.liga_bg_azul {  color: #FFFFFF; text-decoration: none}
.liga_bg_amarillo {  color: #000000; text-decoration: none}
a:hover {  text-decoration: underline}
.tema {  font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #0000FF; font-style: italic; font-weight: normal}
.subtema { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: italic; font-weight: normal }
.buscador {  font-family: Arial, Helvetica, sans-serif; color: #FFFF00; background-color: #000099; border: #FFFF00; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; cursor: text}

/*
     FILE ARCHIVED ON 09:02:11 Jun 09, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:45:18 Apr 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.72
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.012
  esindex: 0.015
  cdx.remote: 2997.909
  LoadShardBlock: 326.414 (3)
  PetaboxLoader3.datanode: 173.475 (4)
  PetaboxLoader3.resolve: 307.814 (3)
  load_resource: 225.049
*/