.uanlgrande {  font-size: 80px}
.liga_bg_azul {  color: #FFFFFF; text-decoration: none}
.liga_bg_amarillo {  color: #000000; text-decoration: none}
a:hover {  text-decoration: underline}
.tema {  font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #0000FF; font-style: italic; font-weight: normal}
.subtema { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: italic; font-weight: normal }
.buscador {  font-family: Arial, Helvetica, sans-serif; color: #FFFF00; background-color: #000099; border: #FFFF00; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; cursor: text}

/*
     FILE ARCHIVED ON 14:14:10 Jun 04, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:46:20 Apr 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.747
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.012
  esindex: 0.016
  cdx.remote: 21.38
  LoadShardBlock: 46.355 (3)
  PetaboxLoader3.datanode: 89.902 (4)
  load_resource: 108.552
  PetaboxLoader3.resolve: 47.924
*/