body {
	background-color:#ECECEC;
	margin:0;
	}
.superior {
	background-color:#ECECEC;
	margin: 100px 0 0 0;
	background-image:url(/web/20061109112430im_/http://www.nexus.uanl.mx/estilos/banner-1024.jpg);
	background-repeat:no-repeat;
	background-position:top;
	}
.inferior {
	background-color:#ECECEC;
    margin:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: italic;
	color: #666666;
	background-position: center bottom;
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
}
a:link {
	color:#000000;
	text-decoration: none;
	font-weight: bold;
}
a:active {
	color:#003333;
	text-decoration: none;
}
a:hover {
	color:#003333;
	text-decoration: none;
}
a:visited {
	color:#123456;
	text-decoration: none;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:16px;
	font-weight: bold;
	text-align:left;
	margin-top:0px;
	margin-bottom:0px;
	}
h3
{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:16px;
	font-weight: bold;
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
	}
#encabezado {
	background-color: #ECECEC;
	width:1000px;
	border-width:0px;
}
#subtema {
	background-color:#AABBCC;
	width:800px;
	border-width:0px;
	font-weight: bolder;	
}
#usuario {
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bolder;
}
#usuario2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#00A0A0;
	font-weight:bolder;
}
 .navegación {
text-align:right;
}
#menu {
	padding: 0;
	margin: 0;
	border: ridge 1px #000000;
	border-top:0px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#ECE9D8;
	width:140px;
	font-size:10pt;
	
	}
#menu td, .celda {
	border-top: ridge 1px #000000;
	border-bottom: 0px;	
	border-left:0px;
	border-right:0px;
}
table {
	padding:0;
	margin: 0;
	border: ridge 1px #000000;
	width:430px;
	background-color: #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablasinbordes
{
	padding:0;
	margin: 0;
	border: ridge 0px;
	width:1000px;
	text-align:center;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablaconbordescienporciento
{
	padding:0;
	margin: 0;
	border: ridge 1px;
	width:100%;
	text-align:center;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablasinbordescienporciento
{
	padding:0;
	margin: 0;
	border: ridge 0px;
	width:100%;
	text-align:center;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablaconbordessinancho
{
	padding:0;
	margin: 0;
	border: ridge 1px;
	text-align:center;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablaconbordessinanchoizq
{
	padding:0;
	margin: 0;
	border: ridge 1px;
	text-align:left;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablaconbordesayuda
{
	padding:0;
	margin: 0;
	border: ridge 1px;
	width: 300px;
	text-align:justify;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablasinbordesayuda
{
	padding:0;
	margin: 0;
	border: ridge 0px;
	width: 300px;
	background-color:#ECECEC;
	}
.tablaconbordescalendarioizq
{
	padding:0;
	margin: 0;
	border: ridge 1px;
	width:700px;
	text-align:left;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablasinbordescalendarioizq
{
	padding:0;
	margin: 0;
	border: ridge 0px;
	width:700px;
	text-align:left;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablaconbordessinanchojus
{
	padding:0;
	margin: 0;
	border: ridge 1px;
	width:100%;
	text-align:left;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablasinbordessinancho
{
	padding:0;
	margin: 0;
	border: ridge 0px;
	text-align:center;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablasinbordessinanchoforo
{
	padding:0;
	margin: 0;
	border: ridge 0px;
	text-align:center;
	background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablasinbordessinanchoizq
{
	padding:0;
	margin: 0;
	border: ridge 0px;
	text-align:left;
	background-color:#ECECEC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
.tablapestanascalendario
{
	padding:0;
	margin: 0;
	border: ridge 0px;
	text-align:center;
	width: 256px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	}
#subtema2 {
	background-color:#AABBCC;
	width:380px;
	border: ridge 1px #000000;
	font-weight: bold;	
}

.subtema2 {
	background-color:#AABBCC;
	width:380px;
	border: ridge 1px #000000;
	font-weight: bold;	
}

.subtema3 {
	background-color:#AABBCC;
	border-width:1px;
	font-weight: bolder;	
}

.subtema4 {
	background-color:#AABBCC;
	border: ridge 1px #000000;
	font-weight: bold;	
}

.subtema5 {
	background-color:#AABBCC;
	border: ridge 1px #000000;
	border-top: ridge 1px #000000;
	border-bottom: ridge 1px #000000;
	border-left:0px;
	border-right:0px;
	font-weight: bold;	
}

.concepto {
	border: ridge 1px #000000;
	border-right-width:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #E8E8E8;
}
.concepto2 {
	border: ridge 0px #000000;
	border-right-width:0px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #AABBCC;
}
.concepto3 {
	border: ridge 0px #000000;
	border-right-width:1px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #AABBCC;
}
.concepto4 {
	border: ridge 0px #000000;
	border-right-width:1px;
	border-top-width:1px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #AABBCC;
}
.concepto5 {
	border: ridge 0px #000000;
	border-right-width:1px;
	border-left-width:1px;
	border-top-width:1px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #AABBCC;
}
.celda1 {
	border: ridge 1px #000000;
	border-bottom-width: 0px;	
	border-left-width:0px;
	border-right-width:1px;
}
.celda2 {
	border: ridge 1px #000000;
	border-bottom-width: 0px;	
	border-left-width:0px;
	border-right-width:0px;
}
.celda3 {
	border: ridge 1px #000000;
	border-top-width: 0px;	
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width: 1px;
}
.celda4 {
	border: ridge 1px #000000;
	border-bottom-width: 1px;	
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
}
.celda5 {
	border: ridge 1px #000000;
	border-bottom-width: 1px;	
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:0px;
}
.celda6 {
	border: ridge 1px #000000;
	border-bottom-width: 1px;	
	border-left-width:0px;
	border-right-width:1px;
	border-top-width:0px;
}
.celda7 {
	border: ridge 1px #000000;
	border-bottom-width: 1px;	
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:0px;
}
.celda8 {
	border: ridge 1px #000000;
	border-bottom-width: 1px;	
	border-left-width:0px;
	border-right-width:1px;
	border-top-width:1px;
}
.celda9 {
	border: ridge 1px #000000;
	border-bottom-width: 1px;	
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:1px;
}
.celda1bitacora 
{
	text-align: left;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	border: ridge 1px #000000;
	border-bottom-width: 0px;	
	border-left-width:0px;
	border-right-width:1px;
}
.celda2bitacora 
{
	text-align: left;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	border: ridge 1px #000000;
	border-bottom-width: 0px;	
	border-left-width:0px;
	border-right-width:0px;
}
.pestselectizqV
{
	background-color:#AABBCC;
	border: ridge 1px #000000;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 80px;
	height: 10px;}
.pestselectizq
{
	background-color:#ece9dc;
	border: ridge 1px #000000;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 80px;
	height: 10px;}
.pestselectder
{
	background-color:#ece9dc;
	border: ridge 1px #000000;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 80px;
	height: 10px;}
.pestselectderV
{
	background-color:#AABBCC;
	border: ridge 1px #000000;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 80px;
	height: 10px;}
.celdacaldia
{
	background-color:#AABBCC;
	border: ridge 1px #000000;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 25px;
	height: 20px;}
.celdacaldia2
{
	/*background-color:#AABBCC;*/
	border: ridge 1px #000000;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 25px;
	height: 20px;}
.celdacaldia3
{
	background-color:#ece9dc;
	border: ridge 1px RED;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	width: 25px;
	height: 20px;}
.celdacaldiames
{
	border: ridge 1px #000000;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	/*width: 55px;
	*/height: 40px;}
.celdacaldiamesconactividad
{
	background-color:#ECE9DC;
	border: ridge 1px RED;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	/*width: 55px;
	*/height: 40px;}
.pestayuda
{
	/*background-color:#ece9dc;*/
	border: ridge 0px #000000;
	width: 16px;
	height: 10px;}
.miiframe
{
background-color: #ececec;
}
.reloj {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #ECECEC;
	border: 0px none #ECECEC;
	background-position: center center;
	text-align: left;
}
/*
     FILE ARCHIVED ON 11:24:30 Nov 09, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:29:11 Apr 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.965
  exclusion.robots: 0.04
  exclusion.robots.policy: 0.025
  esindex: 0.017
  cdx.remote: 8.67
  LoadShardBlock: 94.48 (3)
  PetaboxLoader3.datanode: 126.113 (4)
  load_resource: 103.287
  PetaboxLoader3.resolve: 47.191
*/