body { 
	font-size:10px; 
	font-family:Verdana, Arial, Geneva, Helvetica, Sans-serif; 
	SCROLLBAR-FACE-COLOR: #FFFFFF; 
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF; 
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-ARROW-COLOR:  #000000; 
	SCROLLBAR-TRACK-COLOR: #FFFFFF;
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
background-color: #FFFFFF
; color: #000000

 } 

a {  color: #000000; font-weight: bold; font-style: normal; text-decoration: none}
a:hover {  color: #FF9900; text-decoration: underline}

/*
     FILE ARCHIVED ON 15:14:29 Sep 09, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:46:54 Apr 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.661
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.016
  esindex: 0.01
  cdx.remote: 106.9
  LoadShardBlock: 165.161 (3)
  PetaboxLoader3.datanode: 124.167 (4)
  load_resource: 283.688
  PetaboxLoader3.resolve: 251.316
*/