.tema {  font-family: "Times New Roman", Times, serif; font-size: 26px; color: #333333; font-style: italic; font-weight: bold}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.ligas_small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}
.subtema {
font-family: "Times New Roman", Times, serif; font-size: 18px; color: #333333; font-style: italic; font-weight: bold
}
.titulo {

font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #333333; font-style: normal; font-weight: bold
}
.titulo2 {


font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #333333; font-style: normal; font-weight: bold
}

/*
     FILE ARCHIVED ON 21:19:40 Apr 03, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:46:50 Apr 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.003
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 9.652
  LoadShardBlock: 87.315 (3)
  PetaboxLoader3.datanode: 75.946 (4)
  PetaboxLoader3.resolve: 76.9 (2)
  load_resource: 110.582
*/